# Compiled files
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
**/.terraform.lock.hcl
*.tfvars

# Module directory
.terraform/
.terraform.tfstate.d/
.idea
*.iml

# Build Harness
.build-harness
build-harness/

## VS directory
.vs
.pre-commit-config.yaml
*.hcl
*.tmp

## Infracost
.infracost
example/

## manifest
manifests/

## Notes
*.txt


##Setup scripts
frontend_setup.sh
backend_setup.sh